/*
 * Hannari (Japanese) https://fonts.google.com/earlyaccess
 */
 @font-face {
    font-family: 'Hannari';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.eot);
    src: url(https://fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.eot?#iefix) format('embedded-opentype'),
         url(https://fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.woff2) format('woff2'),
         url(https://fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.woff) format('woff'),
         url(https://fonts.gstatic.com/ea/hannari/v1/Hannari-Regular.ttf) format('truetype');
  }